html, body{background-color: #fff;}
input[type='text'], button.btn, a.btn {border-radius: 0; box-shadow: none; transition: 0; -webkit-box-shadow:none; box-shadow: none; background: #fff}

a.logo{float:left;width:181px;height:44px;background: url(/komuchto/images/logo.png)}
#searchForm input{width:400px; border-right: 0;background: url(/komuchto/images/lupa.jpg) right no-repeat}
#searchForm button{color:#cc0001; margin-left: -4px; border-left: 0;padding: 5px 10px;}
#searchForm .search{float: right}
#searchForm a.btn-danger{background: #cc0001;padding: 5px 10px;}
#searchForm a.user{background: url(/komuchto/images/user.jpg) no-repeat center #656565; height: 22px; width:20px; border: 0;}

.container .left, .container #content{margin-left: 0}
#find #Adverts_rub, #find #Adverts_rub:focus{border: 0}

.btn-group, .btn-group .btn{width: 200px;text-align: left}
.btn-group .btn span{float:right}
.btn-group .btn:first-child, .btn-group .btn:last-child{border-radius:0;margin-left: -1px;}
#Adverts_minprice_slider{width:200px}