html, body, .footer{background-color: #fff;}
html,body,.container {height: 100%;min-height: 900px}

@media (min-width: 1000px){
    #content{
        width:600px;
    }
}

input[type='text'], button.btn, a.btn, a.btn.active, select, #find .ui-state-default, a.btn:focus, a.btn:active, a.btn:visited, a.btn:hover {border-radius: 0; box-shadow: none; transition: 0; -webkit-box-shadow:none; box-shadow: none; background: #fff}
a.btn-link, a.btn-link:hover{border:0; padding:0;color:#01669a; background: none}
.btn:hover, .btn:focus{background: none}
#find .bootstrap-select .btn:focus{outline: none}
#find .bootstrap-select{width:200px;margin-bottom:0}

a.logo{float:left;width:181px;height:44px;background: url(/komuchto/images/logo.png)}
#searchForm{margin-bottom: 0}
#searchForm input{width:525px; border-right: 0;background: url(/komuchto/images/lupa.jpg) right no-repeat;padding:10px}
#searchForm input:focus{-webkit-box-shadow:none;}
select:focus{-webkit-box-shadow:none;}
#searchForm button{color:#cc0001; margin-left: -4px; border-left: 0;padding: 11px 10px;}
#searchForm button:hover, #searchForm button:focus{background: #fff;}
#searchForm .search{float: right;margin-right: 10px}
#searchForm a.btn-danger{background: #cc0001;padding: 11px 7px;margin-right: 2px;}
#searchForm a.user{background: url(/komuchto/images/user.jpg) no-repeat center #656565; height: 34px; width:20px; border: 0;}

.container{position:relative;max-width:1000px}
.container .left[class^='head']{margin-left: 0px}
.container .left{position:relative;float:left;width: 204px;margin-top:46px;min-height: 744px;}
.container .right{position:relative;float:left;width: 176px;margin-left: 12px;min-height: 790px;}

.container #content{margin-left: 8px}
.container #content h2{margin-top:10px;text-align: center; color:#01669a}
.container #content .user-form{margin-top:20px}
.container #content .user-form .row{margin-left:10px}
.container #content .row{margin-left:10px}
.container #content .user-form .row input{clear:both}
.container .right img{margin:2px 0;height:220px}

.list-view{position:relative}

.right .btn-link, .right .btn-link:hover{text-decoration:underline;display:block;text-align: right; margin-top:20px;border-bottom:1px solid #dedede;padding-bottom:5px;}


#find select, #find select:focus{border:0; border-bottom: 1px solid #dedede; width:200px;height:40px;}
#find .bootstrap-select button:hover, #find .bootstrap-select.open button{background:#e6eff6;}
#find .bootstrap-select button{border:0;border-bottom: 1px solid #dedede;box-shadow:none;-webkit-box-shadow:none;padding:10px 0}
#find .bootstrap-select li.selected a, #find .bootstrap-select li a:hover{background: #e6eff6;color:#01669a}
#find .select.sub select:first-child{border-top: 1px solid #dedede;margin-top:10px;margin-bottom:0;}
#find .select.sub select, #find #otherParams select{ background: url(/komuchto/images/select.png) no-repeat 75% 50%}
#rub_find{margin-top:-3px}
#rub_find a.active, #rub_find a.active:hover{border:0; border-bottom: 1px solid #01669a; background: transparent;font-weight: bold; color:#01669a;}
#rub_find a.active:before{height:0}
#rub_find a.active{margin-top:-37px}
#filters{display:none;margin-top: -17px;}
#sub_find .btn, #rub_find a{border:0; margin:2px 0;width: 177px; position: relative;}
#rub_find a:before, #sub_find a + a:before{content:""; width: 100%; height: 1px; display: block; position:absolute;  background: #dedede; margin-left: -10px; top: -2px}
#rub_find a:last-child:after, #sub_find a:last-child:after{content:""; width: 100%; height: 1px; display: block; position:absolute;  background: #dedede; margin-left: -13px; bottom: -2px}
#sub_find .btn:hover, #sub_find .btn.active, #rub_find .btn:hover{background-color: #e6eff6; color:#01669a}

#rub_find a div, #sub_find a div{float:left;width: 125px;word-wrap: break-word;white-space:normal}
#find .ui-state-default, #find .ui-slider-range{background: #01669a;width:4px;}
.btn-group, .btn-group .btn{width: 200px;text-align: left}
.btn-group .btn span{right:5px; top:50%; margin-top:-9px; position:absolute;}
.btn-group .btn:first-child, .btn-group .btn:last-child{border-radius:0;margin-left: -1px;}
#Adverts_minprice_slider, #Adverts_minprobeg_slider, #Adverts_minvolume_slider, div[id$='_slider']{width:200px;height:2px;margin-left: 0px;background:#dedede;border: none;}
#Adverts_minprice_slider a, #Adverts_minprobeg_slider a, #Adverts_minvolume_slider a, #find div[id$='_slider'] a{height:10px;margin-left: -2px;border:none;cursor:pointer}
#find div[id*='amount-range']{text-align: center;width: 190px;padding: 8px 0;}
#find div[id*='amount-range'] span{color:#01669a;font-weight: bold}
#find div.ui-slider{margin-bottom:10px}
#find .btn-link{width:200px;text-align:center;margin-top:10px}
#find .otherParams, #find .otherParamsClose{font-weight: bold; text-decoration: underline; border-top:1px solid #dedede; border-bottom: 1px solid #dedede; margin-top: 20px;padding: 10px 0;}
#find .otherParamsClose{display:none}
#otherParams{margin-top:20px;border-top:1px solid #dedede;}
#otherParams select{margin-bottom:0}

.summary{float:left;font-style: italic}
.summary span{color:#01669a;}
.sorter{float:right;width:250px}
.sorter a{float:right;margin:0 10px}
.art{border-top:1px solid #dedede;clear:both;padding:5px 0; overflow: hidden;}
.art img{height:107px;max-width:none;margin:0 auto}
.art .art-img{float:left;width:107px;height:107px;overflow:hidden;}
.fav{float:left; width:19px; height:18px;background: url(/komuchto/images/fav_d.png) no-repeat; margin-left:8px}
.fav.active{background: url(/komuchto/images/fav.png) no-repeat}
.art:hover{background: #e6eff6;cursor:pointer}
.art .info{padding: 0 5px;width: 586px;}
.art .info a{font-weight: bold}
.art span{float:left}
.art .info span.text{padding: 5px 0 5px 5px;width: 479px;}
.art span.price{font-weight:bold;padding:5px}
.art span.date{float:right;clear:none;color:#aaa}

.artView{border-top:1px solid #cdcdcd;padding:0 0 10px 0}
a.back{margin-top:26px;display:block}
.artView .date{float:right;padding:5px}
.artView .artHead .title{font-size:18px; color:#0088cc; float:left; padding:15px 5px}
.artView .artHead .fav{margin-top:15px}
.artView div.price{font-size:20px; font-weight:bold; color: #0088cc; padding:20px 0}
.artView .text{margin:10px 0}
.artView .bx-wrapper{float:right}
.artView .bx-wrapper img, .artView .bx-wrapper ul{margin:0}
.artView .bx-wrapper img{margin: 5px 0}
.mfp-counter{width:100px}

#addadvert-form label{float:left;width:200px}
#addadvert-form{margin-top:40px}

#content h4{margin:40px 0 0}

footer{clear:both}
.art-info, .user-info{font-style: italic; position:absolute; bottom:10px; font-size:11px}
.art-info span, .user-info span{color:#01669a}